[submodule "src/gedit-plugin-autocomplete"]
	path = src/gedit-plugin-autocomplete
	url = https://github.com/nagaozen/gedit-plugin-autocomplete.git
[submodule "src/gedit-plugin-phpcompletion"]
	path = src/gedit-plugin-phpcompletion
	url = https://github.com/jessevdk/gedit-php-completion.git
[submodule "src/gedit-plugin-quickhighlightmode"]
	path = src/gedit-plugin-quickhighlightmode
	url = https://github.com/nagaozen/gedit-plugin-quickhighlightmode.git
[submodule "src/gedit-plugin-classbrowser"]
	path = src/gedit-plugin-classbrowser
	url = https://github.com/nagaozen/gedit-plugin-classbrowser.git
[submodule "src/gedit-lang-coffeescript"]
	path = src/gedit-lang-coffeescript
	url = https://github.com/wavded/gedit-coffeescript.git
[submodule "src/gedit-plugin-folding"]
	path = src/gedit-plugin-folding
	url = https://github.com/mikecrittenden/gedit-folding.git
[submodule "src/gedit-plugin-zencoding"]
	path = src/gedit-plugin-zencoding
	url = https://github.com/mikecrittenden/zen-coding-gedit.git
[submodule "src/gedit-plugin-snapopen"]
	path = src/gedit-plugin-snapopen
	url = https://github.com/FooBarWidget/gedit-snapopen-plugin.git
[submodule "src/gedit-plugin-smarthome"]
	path = src/gedit-plugin-smarthome
	url = https://github.com/kemayo/gedit-smarthome.git
[submodule "src/gedit-plugin-clientside"]
	path = src/gedit-plugin-clientside
	url = https://github.com/trentrichardson/Gedit-Clientside-Plugin.git
[submodule "src/gmate"]
	path = src/gmate
	url = https://github.com/gmate/gmate.git
[submodule "src/gedit-plugin-tabs_extend"]
	path = src/gedit-plugin-tabs_extend
	url = git://github.com/nuxlli/gedit-tabsextend.git
[submodule "src/gedit-plugin-autocompletepython"]
	path = src/gedit-plugin-autocompletepython
	url = https://github.com/nsigustavo/autocompletepythongeditplugin.git
[submodule "src/pycodecompletation"]
	path = src/pycodecompletation
	url = https://github.com/nsigustavo/pycodecompletation.git
[submodule "src/gedit-plugin-markup_preview"]
	path = src/gedit-plugin-markup_preview
	url = https://github.com/iromli/gedit-markup_preview.git
